.App {
  text-align: center;
}

.text-orange {
  color: orange!important;
}

.bg-orange {
  background-color: orange!important;
}

.fs-20 {
  font-size: 20px!important;
}

.fs-18 {
  font-size: 18px!important;
}

.fs-24 {
  font-size: 24px!important;
}

.form-control:focus, .form-control:active {
  outline: none !important;
  box-shadow: none !important;
}